* {
    font-family: 'Roboto';
}

p {
    font-size: 20px;
    font-weight: lighter;
}

.btn {
    background-color: #3279a8;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
.btn:hover {
      opacity: 1
}

.border {
    width: 200px;
    padding: 10px;
    border: 2.5px solid black;
    margin: 0;
}
